*
{
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
    background-image: url(Images/img1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    transition: 0.4s;
}
body::before{
    content:'';
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-1;
}
.fas
{
    color:white;
}

button{
    width:70px;
    height:60px;
    background:transparent;
    border:2px solid gold;
    cursor:pointer;
    position:relative;
    z-index:2;
}
.container
{
       height:70vh;
       width:60vw;
       overflow: hidden;
       position:relative;
       z-index:2;
}
.img
{
    overflow: hidden;
    width:100vw;
    height:100vh;
    position:absolute;
    top:-15vh;
    left:-20vw;
    background-image: url(Images/img1.jpg);
    background-size: cover;
    background-position: center;
    opacity:0;
    transition:0.5s linear;
    background-repeat: no-repeat;
}
.img2
{
    background-image: url(Images/img2.jpg);
}
.img3
{
    background-image: url(Images/img3.jpg);
}
.img4   
{
    background-image: url(Images/img4.jpg);
}
.img5
{
    background-image: url(Images/img5.jpg);
}
.active
{
    opacity:1;
}
